{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <form method='post'>
        <p> Currenty name:  {{user_n}}</p>
        {% csrf_token %}
        {{ form | bootstrap }}
        <button type='submit' class='btn btn-primary'> Update</button>
        <a href="{% url 'upload_documents' resume_pk %}"  class='btn btn-primary'> Upload File </a>
        <a href='{% url "delete_employee" resume_pk %}' class='btn btn-primary'>Delete</a>
    </form>
    <h1> Your documents are here: </h1>
    {% for document in object.documents_set.all %}
        </br><a href="{{document.archive.url}}"> <img src="{{document.archive.url}}" width="100" " alt=""> {{document}}</a>
    {% endfor%}
{% endblock main %}
    